<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.4.2-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2/sweetalert2.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand m-2" href="{{ url_for('index.formListaIndex') }}">Pastelaria</a>
    </nav>

    <div class="container mt-3 flex">
        <div class="row">
            </div>
            <div class="col-md-12">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% if request.args.get('msg'): %}
    <h3>{{ request.args.get('msg') }}</h3>
    <br>
    {% elif msg: %}
    <h3>{{ msg }}</h3>
    <br>
    {% elif request.args.get('msgErro'): %}
    <h3>{{ request.args.get('msgErro') }}</h3>
    <br>
    {% elif msgErro: %}
    <h3>{{ msgErro }}</h3>
    <br>
    {% endif %}

 

    <script src="{{ url_for('static', filename='jquery/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.maskedinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-6.4.2-web/js/all.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert2/sweetalert2.all.min.js') }}"></script>
    
    {% if request.args.get('msg'): %}
    <script>
        Swal.fire("Sucesso", "{{ request.args.get('msg') }}", "success");
    </script>
    {% elif request.args.get('msgErro'): %}
    <script>
        Swal.fire("Erro", "{{ request.args.get('msgErro') }}", "error");
    </script>
    <!-- render_template - msg ou msgErro -->
    {% elif msg: %}
    <script>
        Swal.fire("ID {{ msg.id }}, {{ msg.msg }} ", "{{ msg }}", "success");
    </script>
    {% elif msgErro: %}
    <script>
        Swal.fire("{{ msgErro.msg if msgErro.msg else 'Erro' }}", "{{ msgErro }}", "error");
    </script>
    {% endif %}

</body>
</html>
