{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="display-4">Home</h1>

    <style>
            a
        {
            text-decoration: none;
        }
    </style>

    <ul class="list-group mt-3">
        <li class="list-group-item"><i class="fas fa-home me-2"></i><a href="{{ url_for('index.formListaIndex') }}"  class="text-dark">Home</a></li>
        <li class="list-group-item"><i class="fa fa-id-card me-2"></i><a href="{{ url_for('funcionario.formListaFuncionario') }}"  class="text-dark">Funcionários</a></li>
        <li class="list-group-item"><i class="fa fa-user me-2"></i><a href="{{ url_for('cliente.formListaCliente') }}"  class="text-dark">Clientes</a></li>
        <li class="list-group-item"><i class="fa fa fa-shopping-cart me-2"></i><a href="{{ url_for('produto.formListaProduto') }} " class="text-dark">Produtos</a></li>
        <li class="list-group-item"><i class="fas fa-door-open"></i><a href="{{ url_for('login.logoff') }} " class="text-dark"></i>     Sair</a></li>
    </ul>
{% endblock %}
